body{
	background: url('http://theurbancorner.mx/images/brickbackground.jpg');
}
.logo{
	width: 100%;
}
#sucursales{
	background-color: yellow;
	height: 500px;
}
#img-footer{
	width: 160px;
    margin-left: 70%;
    margin-top: -25%;
}
.cont-tittlesuc{
	background: black;
	padding: 1%;
}
.tittle-sucursales{
	background: black;
	border: 1px solid white;
}
footer.page-footer{
	background-color: #444 !important;
}
.btn{
	background-color: #FBF420 !important;
	color: black !important;
}
.slider{
	margin-top: 36px;
}
nav ul li{
	padding: 18px !important;
}
.logoa{
	width: 210px;
	height: 100px;
}
.navbar-fixed nav{
	background: rgba(0, 0, 0, 0.4);
	height: 100px !important;
}
.ulleft{
	margin-left: 15%;
}
.ulright{
	margin-right: 15%;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }