body{
	background: url('http://theurbancorner.mx/images/brickbackground.jpg');
}
.logo{
	width: 100%;
}
<<<<<<< HEAD
=======
#img-footer{
	width: 160px;
    margin-left: 70%;
    margin-top: -25%;
}
footer.page-footer{
	background-color: #444 !important;
}
.btn{
	background-color: #FBF420 !important;
	color: black !important;
}
.slider{
	margin-top: 36px;
}
>>>>>>> master
nav ul li{
	padding: 18px !important;
}
.logoa{
	width: 210px;
	height: 100px;
}
.navbar-fixed nav{
	background: rgba(0, 0, 0, 0.4);
	height: 100px !important;
}
.ulleft{
	margin-left: 15%;
}
.ulright{
	margin-right: 15%;
}